version: '3.9'
services:
  admin:
    build: ./admin
    volumes:
      - ./admin:/app
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
       image: mysql:8.0
       restart: always
       environment:
        MYSQL_DATABASE: admin
        MYSQL_USER: root
        MYSQL_PASSWORD: root
        MYSQL_ROOT_PASSWORD: root
       volumes:
        - .dbdata:/var/lib/mysql
       ports:
        - 33066:3306

