version: '3.9'
services:
  admin:
    build: ./admin
    command: python manage.py runserver 0.0.0.0:8000  # <--- THIS IS THE KEY FIX
    volumes:
      - ./admin:/app
    ports:
      - "8001:5000"
    depends_on:
      - db

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: main
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - .dbdata:/var/lib/mysql
    ports:
      - 33067:3306